@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* margin:5rem auto; */
}

.btn-authentication,
.btn-shopping_cart,
.btn-authentication:visited,
.btn-shopping_cart:visited {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 1.25rem;
}

.btn-authentication:hover,
.btn-shopping_cart:hover,
.btn-authentication:active,
.btn-shopping_cart:active {
    background-color: transparent;
    border: none;
    /* color: #fff; */
    color: #0059ff;
    font-size: 1.25rem;
}

/* ================================== */

/* Modal */

.modal-body {
    padding: 2.5%;
    margin: 2%;
}

.close {
    font-size: 1rem;
}

.checkbox {
    vertical-align: bottom;
}

/* Footer */

#signUpModalContent,
#forgotPassModalContent {
    display: none;
}

.modal-footer {
    justify-content: center;
}

.sub-link-text {
    vertical-align: middle;
    font-weight: 600;
}

.sub-link-text>.btn-link {
    vertical-align: unset;
    text-align: center;
}

/* ================================== */

.navbar{
    height:5rem;
}

/* ================================== */

.product_list{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content:space-evenly;
    flex-wrap: wrap;    
}

.product_card{
    text-align: center;
    position: relative;
    font-family: Montserrat,sans-serif;
    color: #9e9e9e;
    background: #fcfcfc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 18rem;
    min-height: 20rem;
    max-height: 30rem;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    margin: 1rem;
    padding: .5rem .5rem 2rem;
    border-radius: .25rem;
    cursor: default;
    -webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all .3s cubic-bezier(.25,.8,.25,1);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.product_icon{
    height: 2.25rem;
    z-index: 1;
}

.onsale_icon{
    float: left;
    width: 40%;
}

.new_icon{
    float: right;
    width: 40%;
}

.onsale_icon p{
    background-color: #f44336;
    border: .25rem solid #fafafa;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: Montserrat,sans-serif;
    color: #fff;
    padding: .6rem;
    border-radius: .5rem;
}

.new_icon p{
    background-color: #1565c0;
    border: .25rem solid #fafafa;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: Montserrat,sans-serif;
    color: #fff;
    padding: .6rem;
    border-radius: .5rem;
}

.product_card .product_image{
    width: 13rem;
    height: 13rem;
    align-self: center;
}

.product_card .product_name{
    color: #424242;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-block;
    word-wrap: break-word;
    text-transform: uppercase;
    margin-bottom: 0.1rem;
}

.product_card .product_brand{
    color: #9e9e9e;
    font-weight: 600;
    font-size: 1rem;
    padding: 0;
    text-transform: uppercase;
}

.product_card .product_brand::before, .product_card .product_brand::after{
    content:' - ';
}


.product_card .product_price{
    color: #9e9e9e;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 0;
    margin:0;
    text-decoration: line-through;
}

.product_card .product_promotional_price
{
    color: #9e9e9e;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0;
    margin:0;
    color: #f44336;
}

.product_card .product_addtocart_button{
    background-color: #1565c0;
    border-color: #1565c0;
    position: absolute;
    bottom:  0.5rem;
    left:5.25rem;
}

/* ================================== */
.onSaleProduct_card{
    text-align: center;
    position: relative;
    font-family: Montserrat,sans-serif;
    color: #9e9e9e;
    /* background: #fcfcfc; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 15rem;
    min-height: 20rem;
    max-height: 30rem;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border: none;
    margin: 1rem;
    padding: .5rem .5rem 2rem;
    /* border-radius: .25rem; */
    cursor: default;
    -webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all .3s cubic-bezier(.25,.8,.25,1);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}


.onSaleProduct_card .product_image{
    width: 10rem;
    height: 10rem;
    align-self: center;
}

.onSaleProduct_card .product_name{
    color: #424242;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    word-wrap: break-word;
    text-transform: uppercase;
    margin-bottom: 0.1rem;
}

.onSaleProduct_card .product_brand{
    color: #9e9e9e;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 0;
    text-transform: uppercase;
}

.onSaleProduct_card .product_brand::before, .onSaleProduct_card .product_brand::after{
    content:' - ';
}


.onSaleProduct_card .product_price{
    color: #9e9e9e;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 0;
    margin:0;
    text-decoration: line-through;
}

.onSaleProduct_card .product_promotional_price
{
    color: #9e9e9e;
    font-weight: 600;
    font-size: 1rem;
    padding: 0;
    margin:0;
    color: #f44336;
}

.onSaleProduct_card product_addtocart_button{
    background-color: #1565c0;
    border-color: #1565c0;
    position: absolute;
    bottom:  0.5rem;
    left:5.25rem;
}


/* admin */

.sidebar {
    width: 300px;
    height: 100vh;
    background: #fff;
    position: fixed;
    box-shadow: 0px 5px 5px #ddd;
} 

.sidebar ul {
   
}

.sidebar ul li {
    padding: .8em 1.5em .8em 2em;
    border-bottom: 1px solid #ddd;
    transition: all .3s ease-in;
    border-left: 5px solid transparent;
}
.sidebar ul a:hover {
    text-decoration: none;
}
.sidebar ul li:hover {
    background: #f5f5f5;
    border-left: 5px solid #0059ff;
    cursor: pointer;
}

.admin-content {
    width: 100%;
    height: 100vh;
    margin-left: 300px;
    background: #f4f4f4;
    padding: 2em;
}

ul.inner-admin li {
    padding: .8em 1.5em .8em 3em !important;
}

ul.inner-admin li:hover {
    border-left: 5px solid #003eb2 !important;
}

#password_again-error {
    display: block !important;
    color: #f44336 !important;
}