<div class="modal-content" id="sign-in-modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="signInModalLabel">Shopping Cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
                <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between ">
                          Creatine
                          <div class="align-items-right">
                            <span class="badge badge-primary badge-pill">1999</span>
                            <span class="currency">rsd</span>
                          </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Protein
                          <div class="align-items-right">
                                <span class="badge badge-primary badge-pill">2540</span>
                                <span class="currency">rsd</span>
                              </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Vitamin C
                          <div class="align-items-right">
                                <span class="badge badge-primary badge-pill">1250</span>
                                <span class="currency">rsd</span>
                              </div>
                        </li>
                      </ul>
        </div>
        <div class="modal-footer align-items-right">
            <p>5000</p>
            <p class="input-group-text">.00 RSD</p>
        </div>
    </div>